In [1]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\amit.kumar02\miniconda3\envs\poc\lib\site-packages (1.1.2)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd 
import numpy as np 
from apyori import apriori

In [5]:
movie_data = pd.read_csv('data/movie_dataset.csv',header=None)
movie_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,The Revenant,13 Hours,Allied,Zootopia,Jigsaw,Achorman,Grinch,Fast and Furious,Ghostbusters,Wolverine,Mad Max,John Wick,La La Land,The Good Dunosaur,Ninja Turtles,The Good Dunosaur Bad Moms,2 Guns,Inside Out,Valerian,Spiderman 3
1,Beirut,Martian,Get Out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deadpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X-Men,Allied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ninja Turtles,Moana,Ghost in the Shell,Ralph Breaks the Internet,John Wick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
movie_data.shape[0]

7501

In [10]:
movie_data.values[0,1]

'13 Hours'

In [19]:
records = []

for i in range(movie_data.shape[0]):
    records.append([str(movie_data.values[i,j]) for j in range(20)])

In [24]:
records[1]

['Beirut',
 'Martian',
 'Get Out',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan']

In [20]:
association_rules = apriori(records,min_support=0.0053,min_confidence=0.20,min_lift=3,min_length=2)

In [21]:
association_results = list(association_rules)

In [27]:
association_results[2]

RelationRecord(items=frozenset({'Jumanji', 'Kung Fu Panda'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Kung Fu Panda'}), items_add=frozenset({'Jumanji'}), confidence=0.3234501347708895, lift=3.2919938411349285)])