Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college
to take an introductory session on Python.

Tasks to be performed:

1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”

In [17]:
t1=(10,20,30)
t2=(40,50,60)
t_combine=t1+t2
print("original tuple",t_combine)
print("elements multiplied",t_combine*3)
print("3rd element",t_combine[2])
print("first 3 elements of t_combine",t_combine[0:3])
print("last 3 elements of t_combine",t_combine[3::])

original tuple (10, 20, 30, 40, 50, 60)
elements multiplied (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
3rd element 30
first 3 elements of t_combine (10, 20, 30)
last 3 elements of t_combine (40, 50, 60)

2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1,2,3
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False

In [23]:
f1=(1,2,3)
s1=("a","b","c")
t1=(True,False)
my_list=[f1+s1+t1]
print(f1)
print(s1)
print(t1)
print(my_list)

(1, 2, 3)
('a', 'b', 'c')
(True, False)
[(1, 2, 3, 'a', 'b', 'c', True, False)]

3. Append a new tuple – (1,"a",True) to ‘my_list’
a. Append a new list – *“sparta”,123 to my_list

In [9]:

my_list=[]
my_list.append((1,"a",True))
my_list.append(["sparta",123])
print(my_list)

[(1, 'a', True), ['sparta', 123]]

4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’

In [10]:
fruit={'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'),
         'Cost': (85, 54, 120, 70)}
keys=fruit.keys()
values=fruit.values()
print('Keys:', keys)
print('Values:', values)

Keys: dict_keys(['Fruit', 'Cost'])
Values: dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [12]:
my_set = {1, 1, "a", "a", True, True,True}
print(my_set)

{1, 'a'}